.service-card{
    position:relative;
    margin:20px 0;
    width:100%;
    height:400px;
    background: #fff;
    transform-style:preserve-3d;
    transform:perspective(2000px);
    transition:1s;
    box-shadow:inset 100px 0 50px rgba(0,0,0,0.5);
    border-radius: 8px;
  }
  
  .service-card:hover{
    z-index:1111;
    transform:perspective(2000px) rotate(-10deg);
    box-shadow:inset 20px 0 50px rgba(113, 106, 145, 0.5);
  }
  
  .service-card .img-container{
    position:relative;
    width:100%;
    height:100%;
    border:2px solid #002642;
    box-sizing:border-box;
    transform-origin:left;
    z-index:1;
    transition:1s;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .service-card .img-container img{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    object-fit:cover;
  }
  
  .service-card:hover .img-container{
    transform:rotateY(-135deg);
  }
  
  .service-card .card-details {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    padding: 20px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
  .service-card .card-details .c-btn{
    width: 0;
    visibility: hidden;
    opacity: 0;
}
  .service-card:hover .card-details .c-btn{
    width: 100%;
    visibility: visible;
    opacity: 1;
}
  
   .service-card .card-details h2{
    margin:0;
    padding:0.5em 0;
    text-transform:uppercase;
    font-size:30px;
    text-align: center;
    color:#002642;
  }
  
  .service-card .card-details p{
    margin:0;
    padding:0;
    line-height:25px;
    font-size:1.1em;
  }
  .service-card .card-top {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    width: 95%;
    bottom: 20px;
    left: 50%;
    z-index: 11;
    transform: translateX(-50%);
    padding: 10px 12px;
    border-radius: 8px;
    /* transition: 0.9s; */
    color: #002642;
}
.service-card:hover .card-top {
    width: 0;
    visibility: hidden;
    opacity: 0;
}